@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #ce1518;
  --color-secondary: #fdfdfd;
  --font-mavel: "Marvel", sans-serif;
}

.font-24 {
  font-size: 24px;
}

.input-login {
  font-family: var(--font-mavel);
  background-color: var(--color-secondary);
  padding: 10px;
  outline: none;
  border: none;
}

.button-login {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  cursor: pointer;
}

.flex {
  display: flex;
}

.grid-center {
  place-content: center;
}

.width-100 {
  width: 100%;
}

.grid {
  display: grid;
}

.login {
  height: 100vh;
}

.login-left {
  flex-grow: 1;
  object-fit: fill;
}

.login-right {
  flex-grow: 9;
  background-image: url("https://wallpapercave.com/wp/wp3173982.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: initial;
}

.home {
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 400px;
}

.home-form {
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.error {
  color: var(--color-primary);
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

@media (max-width: 768px) {
  .login-left {
    display: none;
  }
}
