@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,700&display=swap");
:root {
  --color-primary: #ce1518;
  --color-secondary: #fdfdfd;
  --a-color: #0d01bb;
  --bgcolor-primary: #a3a3a3;
  --color-black: #000;
  --font-mavel: "Marvel", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-mavel);
}

.font-24 {
  font-size: 24px;
}

.font-bold {
  font-weight: bold;
}

.input-login {
  background-color: var(--color-secondary);
  padding: 10px;
  outline: none;
  border: none;
}

.button-login {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.grid-center {
  place-content: center;
}

.grid {
  display: grid;
}

.main {
  height: 100vh;
  position: relative;
}

.login-left {
  flex-grow: 1;
  object-fit: fill;
}
.flexgrow9 {
  flex-grow: 9;
}
.bgtemplate {
  background-image: url("https://wallpapercave.com/wp/wp3173982.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: initial;
}

.marvel-button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
}

.home {
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 400px;
}

.home-form {
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.error {
  color: var(--color-primary);
  text-align: center;
  text-transform: capitalize;
}

.navbar {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}
.nav-user {
  font-size: 28px;
  text-transform: capitalize;
}

.nav-bar {
  list-style: none;
}
.nav-bar li a {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-bar li a:hover {
  color: var(--a-color);
}

.card {
  min-height: 350px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  display: flex;
  text-decoration: none;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card img {
  width: 50%;
  object-fit: fill;
  border-radius: 10px 0 0 10px;
}

.card section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

.card section p:nth-child(1) {
  color: var(--color-primary);
}
.card section p:nth-child(2) {
  color: var(--color-black);
}

.card section p:nth-child(3) {
  color: var(--a-color);
}
.container-es {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  padding: 5px;
}
.character-container__info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_info-character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_info-character a {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 10px;
  color: var(--color-secondary);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.character-container__info section > img {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  object-fit: fill;
}

.info-character--despcription {
  text-transform: capitalize;
  padding: 10px 0;
  font-size: 20px;
  color: var(--a-color);
  width: 500px;
}

@media (max-width: 768px) {
  .login-left {
    display: none;
  }
  .navbar {
    justify-content: center;
    align-items: center;
  }
}
